.footer {
  background-color: #32373B;
  color: white;
  padding: 20px 0;
  text-align: center;
  margin-top: auto;
  width: 100%;
}

.footer-links {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
}

.footer-link {
  color: #64B6AC;
  text-decoration: none;
}
.footer-link:hover {
  color: #FFC15E;
}